hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
hibernate.connection.driver_class = com.mysql.cj.jdbc.Driver
hibernate.show-sql = true
# Change if you don't want Hibernate to create the tables
hibernate.hbm2ddl.auto = create
# Change 'localhost' to your server address and 'cps-db' to your database name
hibernate.connection.url = jdbc:mysql://localhost/cps-db
# Change 'root' to your username
hibernate.connection.username = root
# Set your own local database password here - do not commit this file with a real password
hibernate.connection.password = changeme
hibernate.connection.timezone = UTC
